
.page-group-container {
    
    height: 78vh !important;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom:3%;
    
}

.mat-card {
    overflow: hidden;
    width: 500px;
    width: 500px;
    height: 282px;
    background-color: black;
    outline: #005cb2 solid 5px;
    margin: 25px;
}

.mat-card-image {
    margin-top: unset !important;
    margin: unset;
    min-height: 282px;
    filter:opacity(80%);
    filter:brightness(80%);
}

.url-link, .menu-button{
    display:inline-block;
    width: 100%;
    height: 40px;
    min-width: 105px;
    text-align: center;
    font-size: 25px;
    outline: 2px solid black;
    color:black;
    margin-top: 5px;
    &:hover {
        opacity: 0.65;
    }
}

.url-group-container {
    flex-grow: 1;
    margin: 5px;
    padding-top: 5px;
}

.content-container {
    position:absolute;
    top: 0;
    margin-top: 10px;
}


.group-name {
    position:absolute;
    top: 0;
    padding: 15px;
    color: rgb(255, 253, 253);
    font-variant: small-caps;
    font-size: 35px;
    text-shadow: 2px 2px 4px black, 2px 2px 4px black, 2px 2px 4px black;
}

.url-container {
    margin-bottom: 10px;
}

.settings-button {
    z-index: 5;
    position: absolute;
    bottom:15px;
    right: 0;
    margin-right: 15px;
    color: rgba(245, 222, 179);
}


.menu-link {
    color:white;
    font-size: 20px;
    text-align: center;
}

.example-tab-icon {
    margin-right: 8px;
  }


