
.background-container {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}

.settings-button {
    z-index: 5;
    position: absolute;
    bottom:15px;
    right: 0;
    margin-right: 15px;
    color: rgba(245, 222, 179);
}
