<mat-tab-group animationDuration="0ms" [selectedIndex]="0">
    <mat-tab *ngFor="let page of startPageLinks" [label]='page.tabName'>
            <div fxLayout="column wrap" fxLayoutAlign="space-evenly center" class="page-group-container">
                <mat-card *ngFor="let linkGroup of page.linkGroups" fxLayoutAlign="center">
                    <div fxFlexFill fxLayoutAlign="center center" >
                        <img mat-card-image [src]="linkGroup.selectedMedia">
                        <h1 class="group-name">{{linkGroup.groupName}}</h1>
                        <div class="content-container"  fxLayout="row wrap" fxFlexFill fxLayoutAlign="center center">
                            <div *ngFor="let urlGroup of linkGroup.urlGroups" class="url-group-container" fxLayout="column wrap" >
                                    <div class="url-container" >
                                        <a mat-stroked-button href="{{urlGroup.url}}" [ngStyle]="{'background-color': urlGroup?.backgroundColor}">
                                            {{urlGroup.urlName}}
                                        </a> 
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                </mat-card>
            </div>
    </mat-tab>
</mat-tab-group>

