
.page-group-container {
    height: 78vh !important;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom:3%;
    
}

.mat-card {
    overflow: hidden;
    max-width: 500px;
    min-width: 500px;
    background-color: black;
    outline: #005cb2 solid 5px;
    margin: 25px;
}

.mat-card-image {
    margin-top: unset !important;
    margin: unset;
    min-height: 282px;
    filter:opacity(80%);
    filter:brightness(80%);
}

a{
    display:inline-block;
    width: 100%;
    height: 100%;
    min-width: 105px;
    text-align: center;
    font-size: 25px;
    outline: 2px solid black;
    background-color: rgba(245, 222, 179);
    color:black;
    margin-top: 5px;
    &:hover {
        opacity: 0.65;
    }
}

.url-group-container {
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
}

.content-container {
    position:absolute;
    top: 0;
    margin-top: 5px;
}


.group-name {
    position:absolute;
    top: 0;
    padding: 15px;
    color: rgb(255, 253, 253);
    font-variant: small-caps;
    font-size: 35px;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}

.url-container {
    margin-bottom: 10px;
}





